html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

canvas {
  cursor: none;
}

.timeline {
  position: absolute;

  height: 1px;
  background-color: white;

  bottom: 84px;
}

.wayne-marker {
  position: absolute;
}

.wayne-marker img {

}
